@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500&display=swap');
body{
  font-family: 'Poppins';
  position: relative;
  background-color: hsl(204, 43%, 93%);
  padding-top: 200px;
  
}
.wrapper{
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  justify-items: stretch;
  border: 1px solid hsl(204,43%, 93%);
  margin-left:30%;
  margin-right:30%;
  border-radius: 20px;
      
}
.upper{
  background-color: #fff;
  grid-column: 1/3;
  grid-row: 1;
  padding: 20px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
h2{
  color:hsl(179, 62%, 43%);
}
.upper > p{
  line-height: 1.5;
  color: hsl(218, 22%, 67%);
  font-size: 16px;
}
#title-green{
  color: hsl(71, 73%, 48%);
}
.bottom-left{
      color: hsl(204, 43%, 93%);
      background-color: hsl(179, 62%, 43%);
      grid-column: 1/2;
      grid-row: 2/3;
      padding: 20px 30px;
      border-bottom-left-radius: 20px;
}
.price {
  font-size: 2em;
  font-weight: bold;
}
.bottom-right{
  color:hsl(204, 43%, 93%);
  background-color: hsl(179, 62%, 50%);
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 20px 30px;
  border-bottom-right-radius: 20px;
}
.bottom-right > ul{
      list-style-type: none;
      font-weight: 200;
      padding: 0;
}
.signup{
  display: inline-block;
  color: #fff;
  background-color: hsl(71, 73%, 54%);
  text-align: center;
  border: 1px;
  padding: 1rem .75rem;
  font-size: 1rem;
  border-radius: 0.30rem;
  width: 100%;
  margin-top: 30px;
  transition-duration: 0.4s;
}
.month{
  font-weight: 200;
  align-self: center;
}
.wrapper2{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1em;
}
.signup:hover{
  transform: scale(1.1);
}
footer{
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
}
    
    @media screen and (max-width: 1440px){
      body{
        padding-top: 0;
        margin:30px 30px 30px 30px;
      }
      .wrapper{
      display: grid;
      width: 100%;
      margin-left:0px;
      grid-template-columns: 1fr ;
    }
      .upper{
      background-color: #fff;
      grid-column: 1/2;
      grid-row: 1;
    }
    .bottom-right{
      background-color: hsl(179, 62%, 50%);;
      grid-column: 1/2;
      grid-row: 3/4;
      border-bottom-left-radius: 20px;
    }
    .bottom-left{
      border-bottom-left-radius: 0px;
}
.signup:hover{
  transform: none;
}

    footer{
      position: fixed;
      text-align: center;
      bottom: 0;
      width: 100%;
}
}
